<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Ici Backlog tasks</p>      
      </div>
      
      <div class="col-md-10">
        <ul class="list-group">
          <p>New tasks:</p>
          
            <div class="form-group">
                
              <div clss="form-online">
                <div class="form-group">
                      
                    <input type="text" size="50" maxlength="50" class="form-control newTask input-lg" placeholder="New task...">  
                      
                </div>

                <div class="form-group">
                        <select class="form-control" name="category">
                            
                            <option value="0">Project 1</option>
                            <option value="1">Project 2</option>
                            <option value="2">Project 3</option>
                        </select>       
                </div>
              </div>  
            </div>
         <form class="form-horizontal"> 
          <div class="form-group">
              
              <div class="col-xs-10">
                  <div class="form-inline">
                      <div class="form-group">
                          <input type="text" class="form-control newTask input-lg" placeholder="New task..."> 
                      </div>
                      <div class="form-group">
                          <select class="form-control" name="category">
                            
                            <option value="0">Project 1</option>
                            <option value="1">Project 2</option>
                            <option value="2">Project 3</option>
                        </select>     
                      </div>
                      
                  </div>
              </div>
          </div>
    
</form>
          
          {{#each task}}
              {{#if doneTask}}
                <div class="row">
                  <div class="col-md-1">
                    <div class="checkbox3"></div>      
                  </div>
                  <div class="col-md-9">
                    <p>{{ textTask }} </p>     
                  </div>
                  <div class="col-md-2">
                    <p>icones</p>      
                  </div>
                </div>  
              {{else}}
                <div class="row">
                  <div class="col-md-1">
                    <div class="checkbox2"></div>      
                  </div>
                  <div class="col-md-9">
                    <p>{{ textTask }} </p>      
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-trash fa-2x destroy"></i>&nbsp;<i class="fa fa-arrow-circle-right fa-2x tomorrow"></i>   
                  </div>
                </div> 
              {{/if}}
           
          {{/each}}
         
        
        </ul>     
      </div>
    </div>
    
    

  </div>
</template>
